body{
	min-width: 768px;
}
.nav-top {
	position: fixed;
	//max-width: 1024px;
	margin: 0 3%;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	z-index: 1;
	padding: 10px 0;

	span {
		display: block;
		width: calc(100% / 3);
		text-decoration: none;
		color: gray;
		text-transform: lowercase;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.nav-prev {
		text-align: left;
		padding-left: 40px;
		position: relative;

		&::before {
			display: block;
			content: "";
			width: 35px;
			height: 2px;
			top: 50%;
			left: 0;
			position: absolute;
			background-color: gray;
		}
	}

	.nav-next {
		text-align: right;
		padding-right: 40px;
		position: relative;

		&::before {
			display: block;
			content: "";
			width: 35px;
			height: 2px;
			top: 50%;
			right: 0;
			position: absolute;
			background-color: gray;
		}
	}

	.logo {
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		color: #383838;

		&:hover {
			color: #383838;
			text-decoration: none;
		}
	}
}